html, body {
    margin: 0;
    padding: 0;
    background-color: #f8fafc;
    font-family: 'Inter', sans-serif;
}

#calcolatore-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    body {
        overflow-y: auto !important;
    }
    
    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
} 
